.phoneContainer {
  font-family: "Roboto", sans-serif;
  padding: 5vw;
}

.cookingInstructions {
  color: #8c7b7b;
  border-bottom: 3px dotted #c4c4c4;
  padding-bottom: 1px;
}

.dineInTakeout {
  padding: 5vw;
  display: flex;
  justify-content: space-evenly;
  margin-top: 4vh;
  padding: 1vh;
  background-color: #e4e4e4;
  border-radius: 2.5rem;
}

.dineInTakeout p {
  width: 40%;
  text-align: center;
  padding: 1.5vh;
  border-radius: 1.6rem;
}
