.phoneContainer {
  padding: 5vw;
}

/* Categories */

.categoriesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3vh;
}

.categoryContainer {
  border: 1px solid #616161;
  height: 7vh;
  width: 6.5vh;
  padding: 0.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.imgContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 80%;
}

.categoryContainer img {
  color: #616161;
  align-items: flex-end;
  height: 70%;
}

.categoryContainer p {
  font-size: 0.7rem;
  color: #616161;
}

/* Next Button */
.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1vh;
}

.nextButton {
  width: 25vw;
  padding: 1.3vh;
  border: none;
  border-radius: 1rem;
  background-color: #505050;
  color: #fefefe;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.3vw;
}
