.item {
  display: flex;
  flex-direction: column;
  width: 47%;
}

.itemImgContainer {
  width: 100%;
  height: 10vh;
  background-color: grey;
  overflow: hidden;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
}

.itemImgContainer img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  padding: 1vh;
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}

.infoContainer h1 {
  font-size: 1rem;
}

.priceContainer {
  margin-top: 0.7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.addButton {
  font-size: 2rem;
}

.addMinusContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.minus,
.plus {
  width: 7vw;
  height: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  border: 0.1rem solid black;
  border-radius: 0.3rem;
  font-size: 1.6vh;
}
